<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelloPlant</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <h1>HelloPlant</h1>
    <div>
    <a href="/login">Вхід</a>
    /
    <a href="/register">Реєстрація</a>
    </div>
</header>
<!--Hi, I`m your new project :)-->
<div class="container-main">
    <div class="container-shelf">
        <div class="shelf">
            <div class="plant">
                <img src="img/plant.png">
            </div>
        </div>
        <div class="shelf">
            <div class="plant">
                <img src="img/plant.png">
            </div>
        </div>
        <div class="shelf">
            <div class="plant">
                <img src="img/plant.png">
            </div>
        </div>
        <div class="shelf">
            <div class="plant">
                <img src="img/plant.png">
            </div>
        </div>
        <div class="shelf">
            <div class="plant">
                <img src="img/plant.png">
            </div>
        </div>
        <div class="shelf">
            <div class="plant">
                <img src="img/plant.png">
            </div>
        </div>
        <div class="shelf">
            <div class="plant">
                <img src="img/plant.png">
            </div>
        </div>
        <div class="shelf">
            <div class="plant">
                <img src="img/plant.png">
            </div>
        </div>
    </div>
    <div class="menu">
        <p>
            Привіт! Це твоя полиця.
            <br/>Тут зберігаються твої рослинки, і щоб вони почували себе добре, ми підготували тобі
            підказки по їх догляду :)
        </p>
    </div>
</div>


</body>
</html>